<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-clearmin.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <title>Bienvenidos a Cthulhu.Libreria !</title>
    <style></style>
</head>
<body class="cm-login">
    <div class="text-center" style="padding:100px 0 100px 0;background:#18171c;border-bottom:1px solid #ddd">
        <img src="~/assets/img/Cthulhu2.PNG" width="200" height="150">
        <h3 style="color:white">Bienvenidos!</h3>
        <h2 style="color:greenyellow">Ingrese a su sitio :)</h2>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
        @RenderBody();
    </div>
</body>
</html>
