<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iniciar Secion en Cthulhu </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/ArchLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/Vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/ArchLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    @RenderBody()



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/bootstrap/js/popper.js"></script>
    <script src="~/ArchLogin/Vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/daterangepicker/moment.min.js"></script>
    <script src="~/ArchLogin/Vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLogin/Vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/ArchLoginjs/main.js"></script>

</body>
</html>