<!doctype html>
<html lang="en">

<head>
    <!--
    /   Shahala: Free Template by FreeHTML5.co
    /   Author: https://freehtml5.co
    /   Facebook: https://facebook.com/fh5co
    /   Twitter: https://twitter.com/fh5co
    -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets2/css/style.css">

    <title>Chat Of Cthulhu</title>
</head>

<body>

    <header class="mt-0 pt-0">
        <div class="bg-cover clearfix pt-3">
            <h2 class="logo">Chat Of Cthulhu</h2>

            <div class="dropdown pull-right" style="float:left">
                <input type=image src="~/assets/img/Usuario.jpg" style="height:30px; width:30px; color:transparent;" data-toggle="dropdown">
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Login"><i class="fa fa-fw fa-sign-out"></i> Salir</a>
                    </li>
                </ul>
            </div>

            <!--btn btn-primary md-account-circle-white-->
            <input type="text" id="nav-search" class="nav-search mx-auto" name="">
            <div class="ml-0 mr-0 pb-1">
                <nav class="navbar navbar-expand-md">

                    <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                            aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                            aria-label="Toggle navigation">
                        <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                    </button>
                    <div id="my-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index">INICIO</a>
                            </li>
                            <li class="nav-item">
                                <!--<a class="nav-link"></a>-->
                                <a class="nav-link" href="/Categorias/Index">CATEGORIA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Libro/Index">LIBRO</a>
                            </li>
                            <li class="nav-item">
                                <form action="" method="POST">
                                    <div class="input-group mt-0 mx-auto" style="width:16px;">

                                        <div class="">
                                            <img src="~/assets2/images/search-icon.png" id="toggle-search"
                                                 class="ml-2 toggle-search" alt="search icon">
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div>
            @RenderBody();
        </div>



    </header>

    <div class="container-fluid jumbotron-fluid stay mt-5 pt-5 pb-5">
        <h2 class="text-center">HAZ VOLAR TU IMAGINACION.</h2>
        <p class="text-center mt-2">UN BUEN LIBRO NUNCA TERMINA.</p>
        <div class="input-group mt-4 mx-auto" style="max-width: 640px">
            <input type="email" class="form-control" placeholder="INGRESA TU EMAIL">
            <div class="">
                <button class="btn btn-success ml-2" type="submit">SIGN UP</button>
            </div>
        </div>
    </div>

    <footer class="cm-footer">
        <span class="pull-left">
            &copy; @DateTime.Now.Year - The Chat Of Cthulhu
        </span>
    </footer>




    <script src="~/assets2/js/popper.min.js"></script>
    <script src="~/assets2/js/jquery-1.12.0.min.js"></script>
    <script src="~/assets2/js/bootstrap.min.js"></script>
    <script src="~/assets2/js/owl.carousel.min.js"></script>
    <script src="~/assets2/js/jquery.yu2fvl.js"></script>
    <script src="~/assets2/js/main.js"></script>
</body>

</html>
