
@{
    ViewBag.Title = "Index";
}

<title>Bienvenidos!</title>
<!-- Intro section end -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="section-title text-white">
                    <h2>Mas Solicitados</h2>
                </div>
                <!-- Blog item -->
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="~/img/blog/1.jpg" alt="">
                    </div>
                    <div class="blog-text text-box text-white">
                        <div class="top-meta">Libros  /  in <a href="">Infantiles</a></div>
                        <h3>COCO</h3>
                        <p>LEn un pequeño y alegre pueblo mexicano vive Miguel, un niño de 12 años que pertenece a una familia de zapateros, en la que la música está prohibida. Durante generaciones, los Rivera han censurado la música porque creen que hay una maldición en ella. ... Claro que Miguel guarda en su interior el anhelo de ser músico.</p>
                        <a href="#" class="read-more">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
                <!-- Blog item -->
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="~/img/blog/2.jpg" alt="">
                    </div>
                    <div class="blog-text text-box text-white">
                        <div class="top-meta">Libros  /  in <a href="">Drama</a></div>
                        <h3>Besos Que Dejan Cicatrices</h3>
                        <p>En un pequeño y alegre pueblo mexicano vive Miguel, un niño de 12 años que pertenece a una familia de zapateros, en la que la música está prohibida. Durante generaciones, los Rivera han censurado la música porque creen que hay una maldición en ella. ... Claro que Miguel guarda en su interior el anhelo de ser músico.</p>
                        <a href="#" class="read-more">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
                <!-- Blog item -->
                <div class="blog-item">
                    <div class="blog-thumb">
                        <img src="~/img/blog/3.jpg" alt="">
                    </div>
                    <div class="blog-text text-box text-white">
                        <div class="top-meta">Libros  /  in <a href="">Novelas</a></div>
                        <h3>Orgullo y Prejuicios</h3>
                        <p>En un pequeño y alegre pueblo mexicano vive Miguel, un niño de 12 años que pertenece a una familia de zapateros, en la que la música está prohibida. Durante generaciones, los Rivera han censurado la música porque creen que hay una maldición en ella. ... Claro que Miguel guarda en su interior el anhelo de ser músico.</p>
                        <a href="#" class="read-more">Read More  <img src="~/img/icons/double-arrow.png" alt="#" /></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>


