
@{
    ViewBag.Title = "Novelas";
}

<h2>Novelas</h2>
<title>Novelas</title>

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesNo-1.html" class="read-more"> <img src="~/img/imagenes/novela1.jpg" alt="#"> </a> 								                                                      <h5>Orgullo y Prejuicio</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesNo-2.html" class="read-more"> <img src="~/img/imagenes/novela2.jpg" alt="#"> </a> 								                                                 	<h5>La Casa De Los Espiritus</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesNo-3.html" class="read-more"> <img src="~/img/imagenes/novela3.jpg" alt="#"> </a>
                            <h5>Cien años de Soledad</h5>
                        </div>
                    </div>

                    <div class="site-pagination">
                        <a href="#" class="active">01.</a>
                        <a href="#">02.</a>
                        <a href="#">03.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>