
@{
    Layout = "~/Views/Shared/_LayoutMuestra.cshtml";
    ViewBag.Title = "Categorias";
}
<title> Categorias!</title>

<!-- Header section end -->
<!-- Page top section
<section class="page-top-section set-bg" data-setbg="~/img/page-top-bg/1.jpg">
    <div class="page-info">
        <h2>Categoria</h2>
        <div class="site-breadcrumb">
            <a href="">Libros</a>  /
            <span>Categoria</span>
        </div>
    </div>
</section>
<!-- Page top end-->
<!-- Games section -->
<h3>Categorias!</h3>
<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="/Categorias/Infantil" class="read-more"> <img src="~/img/imagenes/infaantil3.jpg" alt="#"> </a> 								                                                      <h5>Infantiles</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="/Categorias/Drama" class="read-more"> <img src="~/img/imagenes/drama1.jpg" alt="#"> </a> 								                                                 	<h5>Dramas</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="/Categorias/Novelas" class="read-more"> <img src="~/img/imagenes/novela1.jpg" alt="#"> </a>
                            <h5>Novelas</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="/Categorias/Ficcion" class="read-more"> <img src="~/img/imagenes/ficcion1.jpg" alt="#"> </a>     								                                <h5>Ficcion</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>


