
@{
    Layout = "~/Views/Shared/_LayoutMuestra.cshtml";
    ViewBag.Title = "Drama";
}

<h2>Drama</h2>
<title> Dramas !</title>
<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesdr-1.html" class="read-more"> <img src="~/img/imagenes/drama1.jpg" alt="#"> </a> 								                                                      <h5>La Ladrona De Los Libros</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesdr-2.html" class="read-more"> <img src="~/img/imagenes/drama2.jpg" alt="#"> </a> 								                                                 	<h5>Besos Que Dejan Cicatrices</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesdr-3.html" class="read-more"> <img src="~/img/imagenes/drama3.jpg" alt="#"> </a>
                            <h5>El Juego de Ripper</h5>
                        </div>
                    </div>


                    <div class="site-pagination">
                        <a href="#" class="active">01.</a>
                        <a href="#">02.</a>
                        <a href="#">03.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
