
@{
    Layout = "~/Views/Shared/_LayoutMuestra.cshtml";
    ViewBag.Title = "Infantil";
}
<title>Infantil</title>
<h2>Infantil</h2>

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesIn-1.html" class="read-more"> <img src="~/img/imagenes/infaantil3.jpg" alt="#"> </a> 								                                                      <h5>COCO</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesIn-2.html" class="read-more"> <img src="~/img/imagenes/infantil2.jpg" alt="#"> </a> 								                                                 	<h5>Ana y Las Tejas Verdes</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="game-item">
                            <a href="gamesIn-3.html" class="read-more"> <img src="~/img/imagenes/infantil1.jpg" alt="#"> </a>
                            <h5>Martin es el Mejor</h5>
                        </div>
                    </div>

                    <div class="site-pagination">
                        <a href="#" class="active">01.</a>
                        <a href="#">02.</a>
                        <a href="#">03.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

