
@{
    ViewBag.Title = "Index";
}

<h2 class="logo">Bienvenidos</h2>


<div class="row ml-0 mr-0">
    <div class="col-md-6 pr-0">
        <div class="card">
            <img class="card-img" src="~/assets2/images/Cthulhu1.jpg" alt="">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <p>CATEGORIAS</p>
                <hr />
                <h2>
                    Administrarlas
                </h2>
                <a href="/Categorias/Index" class="btn">ENTRAR</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 pl-0">
        <div class="card">
            <img class="card-img" src="~/assets2/images/cthulhu2.jpg" alt="">
            <div class="card-img-overlay d-flex align-items-center justify-content-center flex-column">
                <p>LIBROS</p>
                <hr />
                <h2>
                    Muchos Libros :)
                </h2>
                <a href="/Libro/Index" class="btn">ENTRAR</a>
            </div>
        </div>
    </div>
</div>